DerivedDataCache/
Binaries/
Intermediate/
Saved/
Content/StarterContent/
Source/FlightModule/
MulticopterSim.sln
*.swp
*.VC.db
*.suo
*.opendb
.vs
.idea
.kdev4
.vscode
Extras/joytest/windows/Debug/
Extras/joytest/windows/Release/
Build/
WindowsNoEditor/
Extras/joytest/windows/x64/
*~
*#
