DerivedDataCache/
Binaries/
Intermediate/
Saved/
Content/StarterContent/
Source/FlightModule/
MulticopterSim.sln
*.csv
*.swp
*.VC.db
*.suo
*.opendb
.vs
.idea
.kdev4
.vscode
Extras/joytest/windows/Debug/
Extras/joytest/windows/Release/
Build/
WindowsNoEditor/
Extras/joytest/windows/x64/
*~
Content/AdvancedGlassPack/
Content/Desert_Landscape/
Content/Flying/Decals/
Content/Flying/Maps/Goshawk.umap
Content/Flying/Maps/Goshawk_BuiltData.uasset
Content/Flying/Meshes/Goshawk/
Content/Flying/Meshes/Target/Frame.uasset
Content/Flying/Meshes/Target/Prop.uasset
Content/Realistic_Dynamic_SkySystem/
Content/UltraDynamicSky/
RDS_System.png
RDS_System_192.png
ThirdParty/

