# VisualStuio
/DerivedDataCache
/Binaries
/Intermediate
/Saved
/Content/StarterContent
*.sln
*.swp
*.VC.db
*.suo
*.opendb
.vs
.idea
.kdev4
.vscode
*~

# Python/Nengo
Source/HackflightSim/python/build/
Source/HackflightSim/python/__pycache__
*.cfg
